<!-- <aside class="col-sm-4">
  <p>Filter </p>

  <div class="card">

    <article class="card-group-item">
      <header class="card-header">
        <h6 class="title">Book Category </h6>
      </header>
      <div class="filter-content">
        <div class="card-body">
          <div class="custom-control custom-checkbox float">
            <span class="float-right badge badge-light round"></span>
            <input (click)="allbook()" type="checkbox" class="custom-control-input" id="Check1">
            <label class="custom-control-label" for="Check1">All Books</label>
          </div> 

          <div class="custom-control custom-checkbox float">
            <span class="float-right badge badge-light round"></span>
            <input (click)="filterCategory('CS')" type="checkbox" class="custom-control-input" id="Check2">
            <label class="custom-control-label" for="Check2">Computer Science</label>
          </div> 

          <div class="custom-control custom-checkbox float">
            <span class="float-right badge badge-light round"></span>
            <input (click)="filterCategory('knowledge')" type="checkbox" class="custom-control-input" id="Check3">
            <label class="custom-control-label" for="Check3">Knowledge</label>
          </div> 
        </div> 
      </div>
    </article> 
  </div> 



</aside> -->

<div class="filters">
  <label for="a">
      <input id="a" class="filter" type="checkbox" name="a" data-attribute="category" data-value="Group 1"
          data-group="cats" (click)="allbook()" /> All Books</label>
          &nbsp;||&nbsp;
  <label for="b">
      <input id="b" class="filter" type="checkbox" name="b" data-attribute="category" data-value="Group 2"
          data-group="cats" (click)="filterCategory('CS')"/> Computer Science</label>
  &nbsp;||&nbsp;
  <label for="chrome">
      <input id="chrome" class="filter" type="checkbox" name="chrome" data-attribute="browser"
          data-value="Chrome" data-group="brw" (click)="filterCategory('knowledge')" /> Knowledge</label>
</div>


    
    
        
        