
<!-- <header>
    <div class="header">
        <div class="icons_left">
            <span>
                <img class="svg_icon" src="../../assets/iconmonstr-star-3.svg" alt="star_logo">
            </span>
        </div>
        <div class="icons_right">
            <span class="icons_gap">
                <img class="svg_icon" src="../../assets/iconmonstr-magnifier-2.svg" alt="search_icon">
            </span>
            <span class="icons_gap">
                <img class="svg_icon" src="../../assets/iconmonstr-shopping-cart-3.svg" alt="cart_icon">
            </span>
        </div>
    </div>
</header>  -->
