<!-- <button (click)= "showwishlist()" class="btn btn-default">Show wishlist</button> -->

<!-- <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Book List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped ">
        <thead>
          <th>Sr no.</th>
          <th>Code</th>
          <th>Name</th>
          <th>Author</th>
          <th>Category</th>
        </thead>
        <tbody>
          <tr *ngFor="let book of booklist">
            <td></td>
            <td>{{ book._id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.category }}</td>
            <td *ngIf="!book.isRented"><button (click)="rent(book._id)" class="btn btn-success" >Rent</button></td>
            <td *ngIf="book.isRented"><p>Book rented</p></td>
            <td><button (click)="removeFromWishlist(book._id)" class="btn btn btn-danger mx-3" >Remove from wishlist</button></td>
            <td><button (click)="addtocart(book._id)" class="btn btn-primary">Add To Cart</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->

  <body>
    <h2 *ngIf="booklist.length ==0" style="color: red; width: 100%;text-align: center;">Nothing in wishlist!</h2>
    <div class="container">
      <div class="card" *ngFor="let book of booklist">
        <div class="box">
          <div class="content">
            <h2>{{book.category}}</h2>
            <h3>{{book.title}}</h3>
            <p>{{book.author}}</p>
            <a *ngIf="!book.isRented" (click)="rent(book._id)">Rent</a> <br>
            <p *ngIf="book.isRented" style="color: red;">Book rented</p>
            <a (click)="addtocart(book._id)" >Add to cart</a>
            <a (click)="removeFromWishlist(book._id)" >Remove from wishlist</a>
          </div>
        </div>
      </div>
    </div>
    </body>