#search-box{
    padding:10px;
    
}
.float-left-child {
    float: left;
    margin-right:10px;
    margin-bottom:20px
  }

  table {
    counter-reset: rowNumber;
  }
  
  table tr {
    counter-increment: rowNumber;
  }
  
  table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
  }